/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font: 62.5% Arial, Helvetica, sans-serif;
	line-height: 1.2;
}
html, body {
	background: #fff;
	height: 100%;
}
ol, ul {
	list-style: none;
}
p, li {
	font-size: 1.4em;
	line-height: 1.4;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*--- Tables ---*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	font-size: 1.4em;
	padding: 0.5em;
}

.t-1 {
	margin: 0;
}
.t-1 tr {
	cursor: pointer;
}
.t-1 td {
	border-top: 1px solid #ccc;
	text-align: right;
}
.t-1 tr:first-child td {
	border-top: 0 none;
}
.t-1 tr:hover td {
	background: #FCFFB7;
}
.t-1 tr.active td {
	background: #C4EFCF;
}
.t-1 .t-1-query {
	font-weight: bold;
	text-align: left;
}
.t-1 .t-1-out {
	cursor: pointer;
}

.t-1.mod-1 tr {
	/*cursor: auto;*/
}
.t-1.mod-1 tr:nth-child(odd) {
	background: #eee;
}
.t-1.mod-1 td {
	text-align: left;
}
.t-1.mod-1 td.text-right {
	text-align: right;
}
.t-1.mod-1 th {
	background: #ccc;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.2em 0.5em;
}
.t-1.mod-1 tr:hover td {
	/*background: none;*/
	background: #FFE3D1;
}
.t-1.mod-1 tr.active td {
	/*background: none;*/
	background: #FFBD8E;
}

/*--- Footer ---*/
.footer {
	border-top: 1px solid #000;
	padding: 0.8em 0;
}

/*--- Header ---*/
.header {
	border-bottom: 1px solid #000;
	height: 80px;
	margin-bottom: 2em;
}
.header h1 {
	font-size: 3em;
	font-weight: bold;
	margin:0.7em 0 0 70px;
	text-align: center;
}
.header .auth {
	font-size: 1.4em;
	margin: 32px 0 0;
}
.logo {
	background: url('/img/logo.png') no-repeat;
	float: left;
	height: 50px;
	margin: 20px 0 0 0;
	width: 50px;
}


/*--- Descript ---*/
.descript {
	margin: 0 0 2em;
	text-align: center;
}
.descript p {
	color: #FF0000;
	font-size: 2em;
	margin: 0;
}


/*--- Queries ---*/
.queries {
	margin:0 0 2em;
}
.queries-scroll {
	/*height: 161px;*/
	max-height: 179px;
	overflow: scroll;
}
.queries-scroll .queries-scroll-in {
	margin-right: 0.5em;
}

/*--- Map ---*/
.map {
	margin: 0 0 2em;
}
.map .f-1 {
	margin: 0 0 1em;
}
.map-cont {
	height: 400px;
}

/*--- Venues ---*/
.venues {
	margin: 0 0 2em;
}
.venues h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0 120px 0 0;
	padding: 7px 0 0;
}
.venues .venues-hd {
	margin: 0 0 1em;
}
.venues .venues-hd:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
}
.venues .btn {
	float: right;
}
.venues-no {
	color: #f00;
	padding: 0 0 1.5em;
	text-align: center;
}
.venues-scroll {
	overflow: scroll;
	max-height: 358px;
}
.venues-scroll .venues-scroll-in {}

/*--- Wrap ---*/
.app {
	border: 1px solid #000;
	margin: 1em auto;
	width: 700px;
}
.wrap {
	padding: 1px 0;
}
